.button {
  display: inline-block;
  padding: 13px 36px 11px 36px;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  transition-duration: 500ms;
}
.button i {
  opacity: 0.8;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  transition-duration: 500ms;
}
.button:hover i {
  opacity: 1;
}
.button.green {
  border: 1px solid #2ecc71;
  background-color: #2ecc71;
  color: #ffffff;
}
.button.green:hover {
  background-color: transparent;
}
.button.blue {
  border: 1px solid #1894f2;
  background-color: #1894f2;
  color: #ffffff;
}
.button.blue:hover {
  background-color: transparent;
  color: #1894f2;
}
.button.sign-up {
  border: 1px solid #1894f2;
  background-color: #1894f2;
  color: #ffffff;
}
.button.sign-up:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .button.sign-up {
    background-color: transparent;
    border-color: transparent;
  }
  .button.sign-up:hover {
    border: 1px solid #1894f2;
  }
}
.button.log-in {
  border: 1px solid transparent;
  color: #ffffff;
}
.button.log-in:hover {
  border: 1px solid #1894f2;
}
.button.board {
  border: 1px solid #2ecc71;
  color: #ffffff;
}
.button.board:hover {
  border: 1px solid #7774c5;
}
body {
  margin: 0;
  width: 1920px;
  height: 1080px;
  background-color: #e3e3e3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*  background: white; /!* 备用属性 *!/
  background: -moz-linear-gradient(top, #dedede, white 8%, red 20%);
  background-image: -moz-linear-gradient(50% 180px 90deg, #000000 0%, #FFFFFF 30%, #336600 60%, #662C13 90%);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ff821f), to(#c3ff9a));*/
}
#imgbg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
#picAutoRoll {
  position: absolute;
  top: 200px;
  left: 660px;
}
#picAutoRoll > div {
  width: 1076px;
  height: 666px;
  background-color: #ffdddd;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#picAutoRoll > div > div {
  height: 100%;
  width: 50%;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
}
#picAutoRoll > div > div.buttonLeft {
  left: 0;
}
#picAutoRoll > div > div.buttonRight {
  right: 0;
}
#picAutoRoll > div > ul {
  margin: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0px;
}
#picAutoRoll .imagesCenter {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
}
#picAutoRoll .picaminate.rollLeft {
  -webkit-transition: left 1s ease-in-out 0 0;
  -moz-transition: left 1s ease-in-out 0 0;
  -o-transition: left 1s ease-in-out 0 0;
  -ms-transition: left 1s ease-in-out 0 0;
  transition: left 1s ease-in-out 0 0;
}
#NetSpeed {
  position: absolute;
  z-index: 5;
  width: 600px;
  height: 600px;
  top: 300px;
  left: 245px;
}
#NetSpeed > #inputRoul {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#scrollText {
  position: absolute;
  z-index: 7;
  width: 1550px;
  height: 32px;
  padding: 12px 0;
  background-color: rgba(45, 45, 38, 0.7);
  bottom: 123px;
  left: 185px;
}
#scrollText > p {
  font-size: 32px;
  line-height: 32px;
  color: snow;
  width: 320px;
  position: absolute;
  margin: 0;
  -webkit-animation: roateEvent 12s infinite;
  -moz-animation: roateEvent 12s infinite;
  -ms-animation: roateEvent 12s infinite;
  -o-animation: roateEvent 12s infinite;
  animation: roateEvent 12s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
@keyframes roateEvent {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1200px);
    -moz-transform: translateX(1200px);
    -ms-transform: translateX(1200px);
    -o-transform: translateX(1200px);
    transform: translateX(1200px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes roateEvent {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1200px);
    -moz-transform: translateX(1200px);
    -ms-transform: translateX(1200px);
    -o-transform: translateX(1200px);
    transform: translateX(1200px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}
