
img#imgbg(src='../image/sdnbg.png')
#picAutoRoll
   div
      .buttonRight
      .buttonLeft
      ul.picaminate.rollLeft
         li.imagesCenter
         li.imagesCenter
         li.imagesCenter
#NetSpeed
   input#inputRoul.knob(type='text' data-fgColor="" data-bgColor="" data-angleOffset="-125" data-angleArc="250")
   .knob-bg

#scrollText
   p SDN智能网络演示系统