
.body-wrapper.event#NetSpeed
   .head
      h2 中国电信DNS智能网络系统
      img.left(src='../image/tyg.png')

   #conntent
      #district
         mark
            h3 云DNS
               p
                  | 全球最领先的云DNS集群技术。8年DNS领域专业研究，
                  br
                  | 最完善的解析体系，专业、快速、稳定、安全。
         mark
            h3 新一代高性能DNS服务端程序
               p.letter
                  | 潜心研发新一代配有防攻击算法的高性能授权DNS服务器软件，
                  br
                  | 解析速度大幅度提升，超出主流DNS解析的上百倍。
         mark
            h3 DNSPod DNS攻击防护
               p.letter 中国首屈一指的DNSPod DNS攻击防御和保护功能，实时监测并抵御DNS攻击。

         mark
            h3 大数据最可靠的基础设施
               p 大数据时代，致力于为整个互联网提供最专业最值得信赖的基础设施.

      #inputRoul
         input.knob(type='text' data-fgColor="" data-bgColor="" data-angleOffset="-125" data-angleArc="250")
         mark
            p 智能控制网络

   .knob-bg
