@import "prefixer";
@import "button";

body {
  margin: 0;
  width: 1920px;
  height:1080px;
  background-color: #e3e3e3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

/*  background: white; /!* 备用属性 *!/
  background: -moz-linear-gradient(top, #dedede, white 8%, red 20%);
  background-image: -moz-linear-gradient(50% 180px 90deg, #000000 0%, #FFFFFF 30%, #336600 60%, #662C13 90%);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ff821f), to(#c3ff9a));*/
}

#imgbg{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

//设置滚动图片区域
#picAutoRoll{
    position: absolute;
    top: 200px;
    left: 660px;
  &>div{
    width: 1076px;
    height: 666px;
    background-color: #ffdddd;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    &>div{
      height: 100%;
      width: 50%;

      opacity: 0.6;
      position: absolute;
      z-index: 1;
      &.buttonLeft{
        left: 0;
      }
      &.buttonRight{
        right: 0;
      }
    }
    &>ul{
      margin: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      left:0px;
      &>li{
      }
    }
  }

  .imagesCenter {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
  }

  .picaminate.rollLeft{
    .transition(left 1s ease-in-out)
  }

}


#NetSpeed{
  position: absolute;
  z-index: 5;
  width: 600px;
  height: 600px;
  top: 300px;
  left: 245px;
  >#inputRoul{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

#scrollText{
  position: absolute;
  z-index: 7;
  width: 1550px;
  height: 32px;
  padding: 12px 0;
  background-color: rgba(45, 45, 38, 0.7);
  bottom: 123px;
  left: 185px;
  >p{
    font-size: 32px;
    line-height: 32px;
    color: snow;
    width: 1240px;
    position: absolute;
    margin: 0;
    .animation(roateEvent 8s infinite);
    .animation-timing-function(linear);
    @keyframes roateEvent
    {
      0% {.transform(translateX(0%));}
      50% {.transform(translateX(100%));}
      100% {.transform(translateX(0%));}
    }

    @-webkit-keyframes roateEvent
    {
      0% {.transform(translateX(0%));}
      50% {.transform(translateX(100%));}
      100% {.transform(translateX(0%));}
    }
  }
}

